node_modules
bower_components
release
third-party/*
vendor/*
php-scoper/vendor/*
dist/*
.idea
*.log

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini
.vscode/launch.json
